body{
    background-color: #e2c797;
}

#hyouji {
    padding-top: 10vh;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    width: 94vw;
    height: 20vh;
    font-size: 5vw;
    text-align: center;
    border-radius: 50px;
    background: #e2c797;
    box-shadow:  20px 20px 60px #c0a980,
                -20px -20px 60px #ffe5ae;
}

@media screen and (max-width: 600px){
    #hyouji{
        padding-top: 8vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
        height: 10vh;
    }
}

.calbutton {
    border: none;
    width: 20vw;
    height: 20vh;
    text-align: center;
    font-size: 5vw;
    border-radius: 50px;
    background: #e2c797;
    box-shadow:  20px 20px 60px #c0a980,
                -20px -20px 60px #ffe5ae;
}

@media screen and (max-width: 600px) {
    .calbutton{
        width: 44vw;
        height: 44vw;
    }
}

#num_box {
    margin-bottom: 10vh;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    #num_box{
        margin-bottom: 2vh;
    }
}

#button_box {
    padding: 1vh;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    #button_box{
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        height: 100vw;
    }
}

#num1, #num2 {
    text-align: center;
    font-size: 5vw;
    width: 44vw;
    height: 20vh;
    border-radius: 50px;
    background: #e2c797;
    box-shadow: inset 20px 20px 60px #c0a980,
                inset -20px -20px 60px #ffe5ae;
}

